.product-content .cluuf-alert{
    position: absolute;
    top: 0px;
    height: 700px;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
    border: 2px solid;
    border-radius: 5px;
    padding-top: 450px;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 769px) {
    .product-content   .cluuf-alert{
        height: 2000px;
        padding-top: 200px;
    }
}

.product-content  .cluuf-alert .text{
    max-width: 400px;
    line-height: 42px;
    width: 400px;
    overflow-wrap: break-word;
    display: inline-flex;
}


.error{
    background: #dc3545b0;
}

.success{
    background: #28a745c7;
}

.single-product .product-content .action-area li .cart-btn {
    padding: 9px 100px;
}

.product-gallery .tab-content{
    min-height: 550px;
    margin-bottom: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
}


 .product-description .cluuf-pack-description p {
    font-size: 18px !important;
    color: #000  !important;
}

.fixed-header .header-menu .header-logo:before {
    content: "";
    height: 5px;
    width: 5px;
    top: 1px;
    left: 83px;
  }

  .overlay{
    background: #0000007d;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    padding-top: 70px;
}

img.logo-who-we-are{
    display: block;
    margin: auto;
 
}

.btn-watch-video{
    position: absolute;
    top: 30px;
    right: 30px;
}


.cluuf-root{
display:none;
}

@media only screen and (max-width: 769px) {

    .btn-watch-video{
        position: initial;
        padding-bottom: 30px; 
        display: flex; 
        flex-direction: row; 
        flex-wrap: nowrap; 
        justify-content: center;
    }

}

.hide{
    display: none;
}

.info-agency-sidebar{
    margin-top: 30px;
    max-width: 300px;
    padding: 10px 20px;
    max-width: 300px;
    padding: 10px 20px;
    overflow: scroll;
    height: 250px;
    background: #343a4014;
    line-height: 18px;
    font-size: 14px;
}

.info-agency-sidebar-link{
    font-size: 14px;
    color: #02003b;
    text-align: center;
}



.overlay-loading{
    background: #c4c4c4eb;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    height: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 769px) {
    .header-title-logo{
        width: 160px;
    }
    .overlay{
        padding: 30px;
    }
}




.btn-global {
        background-color: #fcfcfc;
        border-radius: 4px;
        padding: 9px 30px;
        display: block;
        color: #615dfa;
        font-weight: 700;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        text-align: center;
        border: 1px solid #615dfa;
    }


    .btn-global:hover {
        color: #fff;
        background: gray;
    }


    .btn-global-dark{
        background-color: #615dfa;
        border-radius: 4px;
        padding: 9px 30px;
        display: block;
        color: #fff;
        font-weight: 700;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        text-align: center;
        border: 1px solid #615dfa;
        max-width: 600px;
        margin: auto;
    }


    .btn-global-dark:hover {
        color: #615dfa;
        background: #fff;
    }


    .plan_description div{
        padding: 5px 30px;
        text-align: left;
        color: #FFF !important;
        border: 1px solid #fff;
        margin-bottom: 15px;
        font-weight: bold;
    }
  
    .subscriber-form .form-group label{
        color: #fff !important;
        padding-bottom: 0px;
        margin-bottom: 2px;
        font-size: 18px;
        font-weight: bold;
    }

 


.containerCheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  /* Hide the browser's default checkbox */
  .containerCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .containerCheck:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .containerCheck input:checked ~ .checkmark {
    background-color: #1a672c;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .containerCheck input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .containerCheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.review-form{
    background: gray;
}

.single-product-info .nav-tabs .nav-item .nav-link:after {
    background-color: #d2d2d2;
    height: 6px;
}

.contact-form label{
    color:#000;
    font-weight: bold;
    margin-bottom: 2px;
}

body .product-content .item-title{
font-size: 32px;
background: gray;
color: #fff;
padding: 10px;
position: relative;
left: -40px;
top: -20px;
width: 115%;
text-align: center;
}

.mobile-menu-wrapper .header-menu {
    padding: 10px 0;
    height: 80px;
}

.onlyMobile{
display: none;
}

@media only screen and (max-width: 769px) {
    .onlyMobile{
        display: block !important
    }
}

.btn-video{
    background: #0000;
    border: #fff 1px solid;
    padding: 1px 30px;
    float: right;
    margin: 20px;
}

.btn-video:hover,
.btn-videos3:hover{
    background: #fff;
    color: #000;
}

.btn-videos3{
    background: #0000;
    border: #fff 1px solid;
    padding: 1px 10px;
    float: right;
    margin: -20px;
}

.google{
margin: 20px 0px;
}

.availability-panel{
    border: 1px solid #505152;
    display: block;
    padding: 20px 30px;
    background: #212529;
    border-radius: 10px;
}

.referer-title{
    font-weight: bold;
    background: #28a745;
    color: #fff;
    letter-spacing: 1px;
    padding: 3px 20px;
    border-radius: 4px;
}

.referer-title.pnd{
    font-weight: bold;
    background: #e75a00;
    color: #fff;
    letter-spacing: 1px;
    padding: 3px 20px;
    border-radius: 4px;
}